:root {
    --height: 20%;
    --width: 90%;
    --max-width: 100%;
    --border: 3px solid #e1e6db;
    --overflow: hidden;
    --flex-wrap: wrap;
    --border-radius: 15px;
}

*{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

main {
    display: flex;
    flex-wrap: var(--flex-wrap);
    flex-direction: column;
    gap: 30px;
}

a {
    text-decoration: none;
    color: black;
}

i {
    margin: 15px;
}

.build-div {
    display: flex;
    flex-wrap: var(--flex-wrap);
    max-width: var(--max-width);
}

.size-div {
    height: var(--height);
    width: var(--width);
    border: var(--border);
    border-radius: var(--border-radius);
}

.image-size {
    width: 400px;
    height: auto;
}

.div-width {
    flex: 50%;
}

.build-div {
    max-width: var(--max-width);
}

.ready-div {
    border: var(--border);
}

.contact-div {
    max-width: var(--max-width);
    background-color: rgb(5, 63, 63);
    display: flex;
    flex-wrap: var(--flex-wrap);
}

.cont-div {
    flex: 33%;
}

.p-foot {
    margin-left: 15px;
    margin-top: 50px;

}

#grow-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: var(--flex-wrap);
}

#user-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: var(--flex-wrap);
}

#conv-div {
    display: flex;
    flex-wrap: var(--flex-wrap);
}